span{
  background-color: white;
    display: none;
    color: red;
    width:auto;
    margin-top:5px;
  }
  input:invalid[focused="true"] ~span{
  
  display: block;
  
  }
  .allRegister{
    
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .registerForm{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: auto;
    width:400px;
    background-color: #0F51E8;
    border-radius:20px;
    align-items: center;
    justify-content: center;
  }
  .allLogin{
    
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loginForm{
    display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
row-gap: 20px;
   border-radius:20px;
    background-color: #0F51E8 ;

      height: auto;
    width:400px;

  }

  button{
    background-color:white;
    border-radius: 4px;
    transition:transform 0.3s ease 0s;
  }
  button:hover{
    transform: translateY(-10px);
  }
  label{
    color:white;
    display:flex;
    flex-direction:row;
  }
  input{
    color:black;
    height:20px;
    width:300px;
  }